* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.panel {
    height: 50vh;
    width: 50%;
    background-size: cover;
    background-position: center;
    transition: all .3s;
    display: flex;
    justify-content: flex-end;
}

.left {
    justify-content: flex-end;
}

.l-top {
    background-color: blueviolet;
}

.r-top {
    background-color: goldenrod;
}

.l-bot {
    background-color: lightblue;
}

.r-bot {
    background-color: lightseagreen;
}

.right {
    flex-direction: row-reverse;
}

.overlay {
    height: 50vh;
    width: 40vh;
    transform: scaleX(0);
    background-color: rgba(255,255,255,.3);
    transition: all .3s ease-in;
    position: absolute;
}

.l-overlay {
    transform-origin: 100%;
}

.r-overlay {
    transform-origin: 0%;
}

.right:hover .r-overlay {
    transform: scaleX(1);
    /* transform: translateX(0vh); */
}

.left:hover .l-overlay {
    transform: scaleX(1);
    /* transform: translateX(0vh); */
}

.content {
    width: 30vh;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
}

.heading {
    margin: 3rem 0;
}

.project-info {
    margin-bottom: 2rem;
}