* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: aqua;
    display: flex;
}

.panel {
    height: 100vh;
    width: 50%;
    background-size: cover;
    background-position: center;
    transition: all .3s;
    display: flex;
    justify-content: flex-end;
}

.left {
    background-image: url('./images/background1.jpg');
    justify-content: flex-end;
}

.right {
    background-image: url('./images/background2.jpg');
    flex-direction: row-reverse;
}

.overlay {
    height: 100vh;
    flex-basis: 0;
    background-color: rgba(255,255,255,.3);
    transition: all .3s;
}

.left:hover .overlay {
    flex-basis: 60vh;
}

.right:hover .overlay {
    flex-basis: 60vh;
}

.heading {
    width: 0;
}